ssl_models
*__pycache__*
*.ipynb_checkpoints
*srun_outs*
*wandb*
data_prepare/data_check_SSL4EO/dw_GT
data_prepare/data_check_SSL4EO/dw_noisy_labels
*/toy_data*
*checkpoints*
py_scripts_SSL4EO/train_SSL4EO_smp_unet_baseline_multiGPU*.py
py_scripts_SSL4EO/distribute.py
*.vscode*
data_prepare/NYC_AutoGeoLabel/sample*
*.h5
data_prepare/NYC_AutoGeoLabel/Untitled-1.ipynb
bash_scripts
data_prepare/data_check_SSL4EO/*.sh
test.py
*tmp*.ipynb
dgx*
ft_model_s12.py
pl_finetune_s12.py
finetune_mm.py
lightning_logs
*tmp*
*.pdf
models/pl_finetune_mask_mm.py
models/unet_model_pl_pretrain_mm_sc.py
data_prepare/data_check_SSL4EO/get_dw_data/get_sentinel12_2prod_ee_accord_xlsx_parallel_30d_bbox_train.py